<h1>Haz Log in para generar tus little Urls</h1>
  
  <!-- Obtiene informacion del usuario para hacer el login -->
  <form action="/user" method="post">
    <label> Introduce tu correo electronico: </label>
    <br>
    <input type="text" name="user_mail" placeholder = "example@mail.com">
     <br>
     <label> Introduce tu contraseña: </label>
     <br>
    <input type="password" name="user_password" placeholder = "*******">
     <br>
    <input type="submit" value="Log in">
  </form>  
  
