<h1>Bienvenido</h1>
  
  <form action="/register" method="post">
    <label> Escribe el email con el que quieres registrarte: </label>
    <br>
    <input type="text" name="user_mail" placeholder = "example@mail.com">
     <br>
     <label> Introduce tu contraseña: </label>
     <br>
    <input type="password" name="user_password" placeholder = "*******">
     <br>
    <input type="submit" value="Register">
  </form>  